# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [26]:
chipo['item_price'] = pd.to_numeric(chipo['item_price'].map(lambda a : a[1:]))

In [34]:

print(chipo.shape)
chipo.head()

(4622, 5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 4. How many products cost more than $10.00?

In [40]:
chipo[chipo.item_price > 10]['item_price'].count()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [43]:
chipo[chipo.item_price > 10][['item_price', 'item_name']].head()

    item_price        item_name
4        16.98     Chicken Bowl
5        10.98     Chicken Bowl
7        11.75    Steak Burrito
13       11.25     Chicken Bowl
23       10.98  Chicken Burrito

### Step 6. Sort by the name of the item

In [45]:
chipo = chipo.sort_values('item_name')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [49]:
chipo.loc[chipo['item_price'].idxmax(), 'quantity']

15

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [62]:
chipo[chipo['item_name']=='Veggie Salad Bowl']['item_name'].count()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [65]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity'] > 1 )]['item_name'].count()

20